In [ ]:
#Redes neuronales multicapa

import pandas as pd

df = pd.read_csv("winequality-red.csv")
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
df['quality'].unique()

array([5, 6, 7, 4, 8, 3], dtype=int64)

In [ ]:
df['quality'] = df['quality'].replace([3,4,5,6,7,8],['Malo','Malo','Regular','Regular','Bueno','Bueno'])
df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,Regular
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,Regular
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,Regular
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,Regular
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,Regular

In [ ]:
X=df.drop('quality', axis=1)
y=df['quality']

X.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4

In [ ]:
y.head()

0    Regular
1    Regular
2    Regular
3    Regular
4    Regular
Name: quality, dtype: object

In [ ]:
#Redes neuronales y máquinas de soporte vectorial son sensibles a la escala de los parámetros

from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X=scaler.fit_transform(X)

In [ ]:
#Separar conjunto de entrenamiento y conjunto de prueba
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test= train_test_split(X,y,test_size=0.2, random_state=42)

In [ ]:
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(hidden_layer_sizes=(11,11,11),max_iter=5000,random_state=42)

In [ ]:
mlp.fit(X_train,y_train)

MLPClassifier(hidden_layer_sizes=(11, 11, 11), max_iter=5000, random_state=42)

In [ ]:
#Comparar con los datos de entrenamiento (engañoso)
mlp.score(X_train,y_train)

0.9241594996090696

In [ ]:
#Comparar con los datos de prueba (correcto)
mlp.score(X_test,y_test)

0.815625

In [ ]:
#Conocer los parámetros de configuración de la red
mlp.get_params()

{'activation': 'relu',
 'alpha': 0.0001,
 'batch_size': 'auto',
 'beta_1': 0.9,
 'beta_2': 0.999,
 'early_stopping': False,
 'epsilon': 1e-08,
 'hidden_layer_sizes': (11, 11, 11),
 'learning_rate': 'constant',
 'learning_rate_init': 0.001,
 'max_fun': 15000,
 'max_iter': 5000,
 'momentum': 0.9,
 'n_iter_no_change': 10,
 'nesterovs_momentum': True,
 'power_t': 0.5,
 'random_state': 42,
 'shuffle': True,
 'solver': 'adam',
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': False,
 'warm_start': False}

In [ ]:
#Como mejorar nuestro modelo usando GridSearch
# 'learning_rate_init': [0.01,0.001, 0.005, 0.0001],
# 'solver':['lbfgs', 'sgd', 'adam'],
# 'learning_rate':['constant', 'invscaling', 'adaptive'],
params = {'activation':['identity', 'logistic', 'tanh', 'relu'],          
          'hidden_layer_sizes':[(11,11),(11,11,11),(11,11,11,11),(11,11,11,11,11)]
         }
from sklearn.model_selection import GridSearchCV

grid_search_cv = GridSearchCV(MLPClassifier(max_iter=5000,random_state=42), params, verbose=1,cv=2,n_jobs=8,scoring='accuracy')
grid_search_cv.fit(X_train, y_train)
print(grid_search_cv.best_estimator_)

Fitting 2 folds for each of 16 candidates, totalling 32 fits

[Parallel(n_jobs=8)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=8)]: Done  32 out of  32 | elapsed:   27.2s finished

MLPClassifier(activation='identity', hidden_layer_sizes=(11, 11, 11),
              max_iter=5000, random_state=42)

In [ ]:
#Almacenar y evaluar la mejor configuración con el conjunto de entrenamiento (engañoso)
mejor=grid_search_cv.best_estimator_
mejor.score(X_train,y_train)

0.8467552775605942

In [ ]:
#Evaluar la mejor configuración con el conjunto de prueba (correcto)
mejor.score(X_test,y_test)

0.83125

In [ ]:
#Otra forma de evaluar la precisión
from sklearn.metrics import accuracy_score
y_pred = grid_search_cv.predict(X_test)
accuracy_score(y_test, y_pred)
#mejor.score(X_test,y_test)

0.83125

In [ ]:
#Obtener la configuración de la mejor red
mejor.get_params()

{'activation': 'identity',
 'alpha': 0.0001,
 'batch_size': 'auto',
 'beta_1': 0.9,
 'beta_2': 0.999,
 'early_stopping': False,
 'epsilon': 1e-08,
 'hidden_layer_sizes': (11, 11, 11),
 'learning_rate': 'constant',
 'learning_rate_init': 0.001,
 'max_fun': 15000,
 'max_iter': 5000,
 'momentum': 0.9,
 'n_iter_no_change': 10,
 'nesterovs_momentum': True,
 'power_t': 0.5,
 'random_state': 42,
 'shuffle': True,
 'solver': 'adam',
 'tol': 0.0001,
 'validation_fraction': 0.1,
 'verbose': False,
 'warm_start': False}